torch
torchvision
tensorboard
timm
numpy
pygame
gymnasium
gymnasium[box2d]
gymnasium[atari]
shimmy
mujoco
imageio
scipy
swig
pyglet
wandb
matplotlib
plotly
pandas
opencv-python
pynput
pyautogui
pyvista
tianshou

